@model TFATERPWebApplication.Models.PartialModel
@{
    ViewBag.Title = "UserContoll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>UserC</h2>


<script src="~/js/usercontrolJs.js" type="text/javascript"></script>
<script src="~/Scripts/App/CommonScript.js" type="text/javascript"></script>

@Html.Partial("~/Views/Shared/_User.cshtml")

