body {
     background-color: #ffffff;
}


  /* script add by dipti 03-09-2014 */

    .myButton {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
    background-color: #666666;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    color: #ffffff;
    font-family: Tahoma;
    font-size: 13px;
    padding: 3px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    font-weight: bold;
}

    .myButton:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
        background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
        background-color: #666666;
        color: #FFFFFF;
        font-weight: bold;
        font-family: tahoma;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

    .myButtonComm:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #FFBE5E));
        background: -moz-linear-gradient(top, #408c99 5%, #408c99 100%);
        background: -webkit-linear-gradient(top, #408c99 5%, #408c99 100%);
        background: -o-linear-gradient(top, #408c99 5%, #408c99 100%);
        background: -ms-linear-gradient(top, #408c99 5%, #408c99 100%);
        background: linear-gradient(to bottom, #408c99 5%, #408c99 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
        background-color: #FFBE5E;
    }

    .myButtonComm:active {
        position: relative;
        top: 1px;
    }

    .inputsComm {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #FFF, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    box-shadow: 0 1px 0 #FFF, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #EAE7E7;
    border: 1px solid #C8C8C8;
    color: #777;
    font: 16px Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    padding: 4px 0px 4px 0px;
    width: 170px;
}

 .inputsComm:focus {
        -webkit-box-shadow: 0 0 2px #ED1C24 inset;
        -moz-box-shadow: 0 0 2px #ed1c24 inset;
        -ms-box-shadow: 0 0 2px #ed1c24 inset;
        -o-box-shadow: 0 0 2px #ed1c24 inset;
        box-shadow: 0 0 2px #ED1C24 inset;
        background-color: #FFF;
        border: 1px solid #ED1C24;
        outline: none;
    }

.CssDDLCommForAll {
    font-family: tahoma;
    font-size: 14px;
    color: #000000;
    width: 160px;
    overflow: scroll;
    list-style-type: disc;
    list-style-position: outside;
}
.cssSearchPanel {
    border: thin groove #C0C0C0;
    font-family: tahoma;
    font-size: 12px;
    color: #333333;
    position: absolute;
    width: 600px;
    height: 500px;
    top: 100px;
    left: 250px;
    background-color: #FFFFFF;
}

.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: .4em 1.1em .4em;
    color: #ffffff;
    border: solid 1px #006fb9;
    background: #1276bb;
}

  .button:hover {
      text-decoration: none;
      background: #282828;
      border: solid 1px #000;
    }

.labelcss {
    font-weight:bold;
    font-size:14px;
    font-family:Tahoma;
    
}
.labelsigncss
 {
    font-size:11px;
    font-family:Tahoma;
    text-align:left;
    
 }
.txtdata {

    height:20px; width:220px;font-size:11px;border:1px solid;border-color:gray;
      
}

.labelcompanysmallcss
 {
    font-size:11px;
    font-family:Tahoma;
    text-align:right;
 }


.textbox {
    background: transparent url(http://html-generator.weebly.com/files/theme/input-text-8.png) repeat-x;
    border: 1px solid #999;
    outline: 0;
    height: 35px;
    width: 250px;
    font-size: 30px;
    /*vertical-align:bottom!important;*/
}

.loginvalidation {
 height:25px;
 width:250px;
 border:1px solid;
 border-color:gray;
 border-radius:5px;
 }

.linkcolor {
    color:red;
}
.linkcolor:hover
{
   
    color:blue;
    cursor:pointer !important;
}

hr
{
    background-color:rgba(0, 0, 0, 0.08);
    border: 0 none;
    color: #eee;
    height: 1px;
}

input[type=textbox]:first-of-type{
    background-color: rgba(246, 226, 133, 0.80);
}

input[type=textbox]:focus {
    background-color: rgba(246, 226, 133, 0.80);
    border: 5px solid #ff5400;
}
.imageadd {

    width:16px;
    height:16px;
    vertical-align:middle;
    position:fixed;



}

