html {
    /*background-color: #d4edec;*/
    background-color:#ffffff;
    margin: 0;
    padding: 0;
    /*overflow-y: scroll;*/
    height:100%;
    /*position:absolute;*/
    float:left;
    height:100%;
    width:100%;


}
/*.scrollbar{
width:150px;
height:300px;
background-color:lightgray;
margin-top:40px;
margin-left:40px;
overflow-y:scroll;
float:left;
}*/
body {
    /*background-color: #D7EBF9;*/
    background-color:#ffffff;
    /*border-top: solid 10px #000;
    color: #333;*/
    font-size: 9pt;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 5px;
    padding: 0;
    scrollbar-arrow-color: #009990;
    scrollbar-track-color: #60f1d6;
    scrollbar-face-color: #009990;
    scrollbar-highlight-color: #34f6ea;
    scrollbar-3dlight-color: #60f1e4;
    scrollbar-shadow-color: #c8c8c8;
    scrollbar-darkshadow-color: #c8c8c8;
    line-height:1.42857;
    	
}

a {
    color: #2779AA;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #000;
    }

    a:hover {
        background-color: #18bbb7;
    }

header, footer, hgroup,
nav {
    display: block;
    height:40px;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 1124px;
    padding:35px;
}

#body {
    /*background-color: #D7EBF9;*/
    clear: both;
    /*padding-bottom: 35px;*/
    height:100%;
    width:100%;
    background-color:#ffffff;
    /*position:fixed;*/
     clear: both;
     /*position:static;*/
     /*overflow-y: scroll;*/
     /*overflow:auto;*/
}

.main-content {
    /*background: url("../Images/accent.png") no-repeat;*/
    /*padding-left: 10px;*/
    /*padding-top: 30px;*/
}
footer {
    clear: both;
    background-color: #D7EBF9;
    font-size: 9pt;
    height: 100px;
}



/* site title
----------------------------------------------------------*/
.site-title {
    /*color: #c8c8c8;*/
    color:#000;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 1.5em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #2779AA;
        outline: none;
        text-decoration: none;
    }


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

        #login a.username {
            background: none;
            margin: 0;
            padding: 0;
            text-decoration: underline;
        }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

            ul#menu li a:hover {
                color: #2779AA;
                text-decoration: none;
            }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #2779AA;
        background-image: -ms-linear-gradient(left, #2779AA 0%, #2779AA 100%);
        background-image: -o-linear-gradient(left, #2779AA 0%, #2779AA 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #2779AA), color-stop(1, #2779AA));
        background-image: -webkit-linear-gradient(left, #2779AA 0%, #2779AA 100%);
        background-image: linear-gradient(left, #2779AA 0%, #2779AA 100%);
        color: #fff;
        padding: 20px 40px 30px 40px;
        margin:26px 171px -40px; 
    }

    .featured hgroup.title h1, .featured hgroup.title h2 {
        color: #fff;
    }

    .featured p {
        font-size: 1.1em;
    }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

        #loginForm input[type="checkbox"],
        #loginForm input[type="submit"],
        #loginForm input[type="button"],
        #loginForm button {
            width: auto;
        }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom: 5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    /*fieldset legend {
        display: none;
    }*/

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 9pt;
    font-weight: Normal;
}

    label.checkbox {
        display: inline;
    }

input, textarea {
    border: 1px solid #2779AA;
    background: #fff;
    color: #333;
    /*padding: 4px;
    border-radius: 5px;*/
    /*width:160px;*/
  }
    

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
        background-color:#e2edf5;
    }

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

/*input[type="submit"],
input[type="button"],
button {
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}*/

select {
    border: 1px solid #2779AA;
    font-family: FontAwesome, "Segoe UI", Verdana, Helvetica, Sans-Serif !important;
    color: #2779AA;
    display: inline-block !important;
    padding: 0px;
    /*-webkit-appearance: none;*/ /*Removes default chrome and safari style*/
    /*-moz-appearance: none;*/ /* Removes Default Firefox style*/
    background-image: -moz-linear-gradient(top, white, #FFF);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #fff));
    background-image: linear-gradient(top, white, #fff);
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "\f0ab"; /*Removes default arrow from firefox*/ /*My custom style for fonts*/
    border-radius: 5px;
    box-shadow: 0 1px 1px #d2d2d2;
    /*width:200px;*/
}

/*select > option {
        background-image: -moz-linear-gradient(top, white, #2779AA);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #2779AA));
        background-image: linear-gradient(top, white, #2779AA);
        border-radius: 5px;
        color: #0a4b72;
        border: none;
    }*/


hr {
    background-image: -moz-linear-gradient(top, white, #2779AA);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #AEA9AC));
    background-image: linear-gradient(top, white, #2779AA);
    height: 2px;
    border: none;
}

.scrollbar {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: #d4edeb;
    box-shadow: 2px 0px 10px gray;
    display: none;
    width: 30%;
    padding: 5px 5px 5px 45px;
    overflow-y: auto;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width:15%;
}


#divMenu {
    scrollbar-arrow-color: #009990;
    scrollbar-track-color: #60f1d6;
    scrollbar-face-color: #009990;
    scrollbar-highlight-color: #34f6ea;
    scrollbar-3dlight-color: #60f1e4;
    scrollbar-shadow-color: #c8c8c8;
    scrollbar-darkshadow-color: #c8c8c8;
}

    #divMenu::-webkit-scrollbar {
        width: 10px;
        background-color: #cccccc;
    }

    #divMenu::-webkit-scrollbar-thumb {
        background-color: #009990;
        border-radius: 10px;
    }

        #divMenu::-webkit-scrollbar-thumb:hover {
            background-color: #46bfb8;
            border: 1px solid #333333;
        }

        #divMenu::-webkit-scrollbar-thumb:active {
            background-color: #39a6a3;
            border: 1px solid #333333;
        }

    #divMenu::-webkit-scrollbar-track {
        border: 1px gray solid;
        border-radius: 10px;
        -webkit-box-shadow: 0 0 6px gray inset;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
    width: 100%;
}

th {
    font-size: 9pt;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

        th a:link, th a:visited, th a:active, th a:hover {
            color: #333;
            font-weight: 600;
            text-decoration: none;
            padding: 0;
        }

        th a:hover {
            color: #000;
        }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after {
            display: block;
            position: absolute;
            right: 0em;
            top: 0;
            font-size: 0.75em;
        }

        th.asc a:after {
            content: '▲';
        }

        th.desc a:after {
            content: '▼';
        }

td {
    padding: 0.25em 0em .25em 0em;
    border: 0 none;
 
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    /*header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
   /* header .site-title {
        margin: 10px;
        text-align: center;
    }*/

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover {
                color: #333;
            }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
       
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input, select, button {
        width: 80%;
        text-align: left;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    table {
        width: 100%;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    #gview_list > div > div > table {
        display: table !important;
    }

        #gview_list > div > div > table > thead {
            display: table-caption !important;
        }

            #gview_list > div > div > table > thead > tr {
                display: table-row !important;
            }

                #gview_list > div > div > table > thead > tr > th {
                    display: table-cell !important;
                }


        #gview_list > div > div > table > tbody {
            display: table-caption !important;
        }

            #gview_list > div > div > table > tbody > tr {
                display: table-row !important;
            }

                #gview_list > div > div > table > tbody > tr > td {
                    display: table-cell !important;
                }

    #pager > div > table {
        display: table !important;
    }

        #pager > div > table > tbody {
            display: table-caption !important;
        }

            #pager > div > table > tbody > tr {
                display: table-row !important;
            }

                #pager > div > table > tbody > tr > td {
                    display: table-cell !important;
                }



    #pager_left {
        width: 20px !important;
    }

        #pager_left > table {
            display: table !important;
        }

            #pager_left > table > tbody {
                display: table-caption !important;
            }

                #pager_left > table > tbody > tr {
                    display: table-row !important;
                }

                    #pager_left > table > tbody > tr > td {
                        display: table-cell !important;
                    }


    #pager_center > table {
        display: table !important;
    }

        #pager_center > table > tbody {
            display: table-caption !important;
        }

            #pager_center > table > tbody > tr {
                display: table-row !important;
            }

                #pager_center > table > tbody > tr > td {
                    display: table-cell !important;
                }

                    #pager_center > table > tbody > tr > td > input {
                        width: auto !important;
                    }

                    #pager_center > table > tbody > tr > td > select {
                        width: auto !important;
                    }

    #pager_right > table {
        display: table !important;
    }

        #pager_right > table > tbody {
            display: table-caption !important;
        }

            #pager_right > table > tbody > tr {
                display: table-row !important;
            }

                #pager_right > table > tbody > tr > td {
                    display: table-cell !important;
                }


    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        /*position: absolute;*/
        top: -9999px;
        left: -9999px;
    }

    tr {
        /*border: 1px solid #ccc;*/
    }

    /* Behave  like a "row" */
    td {
        /*border: none;
        border-bottom: 1px solid #eee;*/
        position: relative;
        text-align: left !important;
        width: 100% !important;
    }

    .clear-margin {
        margin: 0 !important;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }


  body {
}


  /* script add by dipti 03-09-2014 */

    .myButton {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
    background-color: #666666;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    color: #ffffff;
    font-family: Tahoma;
    font-size: 13px;
    padding: 3px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    font-weight: bold;
}

    .myButton:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
        background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
        background-color: #666666;
        color: #FFFFFF;
        font-weight: bold;
        font-family: tahoma;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

    .myButtonComm:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #FFBE5E));
        background: -moz-linear-gradient(top, #408c99 5%, #408c99 100%);
        background: -webkit-linear-gradient(top, #408c99 5%, #408c99 100%);
        background: -o-linear-gradient(top, #408c99 5%, #408c99 100%);
        background: -ms-linear-gradient(top, #408c99 5%, #408c99 100%);
        background: linear-gradient(to bottom, #408c99 5%, #408c99 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
        background-color: #FFBE5E;
    }

    .myButtonComm:active {
        position: relative;
        top: 1px;
    }

    .inputsComm {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #FFF, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    box-shadow: 0 1px 0 #FFF, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #EAE7E7;
    border: 1px solid #C8C8C8;
    color: #777;
    font: 16px Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    padding: 4px 0px 4px 0px;
    width: 170px;
}

 .inputsComm:focus {
        -webkit-box-shadow: 0 0 2px #ED1C24 inset;
        -moz-box-shadow: 0 0 2px #ed1c24 inset;
        -ms-box-shadow: 0 0 2px #ed1c24 inset;
        -o-box-shadow: 0 0 2px #ed1c24 inset;
        box-shadow: 0 0 2px #ED1C24 inset;
        background-color: #FFF;
        border: 1px solid #ED1C24;
        outline: none;
    }

.CssDDLCommForAll {
    font-family: tahoma;
    font-size: 14px;
    color: #000000;
    width: 160px;
    overflow: scroll;
    list-style-type: disc;
    list-style-position: outside;
}
.cssSearchPanel {
    border: thin groove #C0C0C0;
    font-family: tahoma;
    font-size: 12px;
    color: #333333;
    position: absolute;
    width: 600px;
    height: 500px;
    top: 100px;
    left: 250px;
    background-color: #FFFFFF;
}

}
