ul.grid {
	padding: 0;
	margin: 30px 30px 45px;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 24%;
	margin: 0;
	padding: 0px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure > img, 
.grid figure figcaption > a > img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: -40px;
	left: -40px;
	padding: 5px;
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 10px 10px 5px;
	border-radius: 2px;
	display: inline-block;
	background: #fff;
	color: #000;
	border-radius:10px;
	
-webkit-box-shadow: 0px 0px 5px 1px rgba(163,155,163,1);
-moz-box-shadow: 0px 0px 5px 1px rgba(163,155,163,1);
box-shadow: 0px 0px 5px 1px rgba(163,155,163,1);
  
}

/* Individual Caption Styles */

/* Caption Style 1 */
.cs-style-1 figcaption {
	height: 130%;
	width: 130%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translate(15px, 15px);
	-moz-transform: translate(15px, 15px);
	-ms-transform: translate(15px, 15px);
	transform: translate(15px, 15px);
	position:absolute;
	z-index:9990;
}

.cs-style-1 figcaption h3 {
	margin-top: 70px;
}

.cs-style-1 figcaption span {
	display: block;
}



@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
	}
}
