<header >
       <div class="navbar navbar-fixed-top">
           <div class="navbar-inner">
               <div class="logo img">
                   <img src="../Images/logo.png" class="abs" />
               </div>
               </div>
               <div class="container">
               </div>
               <div class="abc">
               </div>
               <div class="menu-header">
                   <div class="content-wrapper">
                   </div>
               </div>
           </div>
</header>
<script src="~/js/headermenu.js"></script>
<link href="~/Content/menu.css" rel="stylesheet" />

