
<div class="save">
  <input type="button" id="btnPint" value="Print" />
   
    <input type="button" id="btnSaveAs" value="SaveAs" />
    <input type="button" id="btnAtt" value="AttechDoc" />
    <input type="button" id="btnAddons" value="AddOns" />
     @*<button type="button">Print</button><button type="button">Save</button><button type="button">SaveAs</button>*@

</div>
<style type="text/css" >
    .save
    {
        bottom:0px;
        width:100%;
    }
</style>
